@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Sinhala:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600&family=Teko:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar-top {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 99999999999;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgb(198, 159, 2) 0%,
    rgba(241, 126, 0, 1) 50%,
    rgba(227, 17, 69, 1) 100%
  );
}

.top-nav-content {
  font-size: 14px;
  color: #fff;
}

.navbar {
  margin-top: 35px;
  background-color: #ffffff;
  width: 100%;
  z-index: 99999999999;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #00000010;
  height: 75px;
}

.navbar-lable {
  position: absolute;
  background-color: #dd3636;
  top: 7px;
  padding-left: 9px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 2px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  font-size: 10px;
  color: #fff;
}

.nav-logo {
  padding: 21px;
  font-size: 25px;
  font-weight: 800;
  float: left;
  color: #201dd1;
}

.navbar-links {
  float: right;
  margin-top: 28px;
}

.icon-with-links {
  display: flex;
}

.navbar-links a {
  float: left;
  margin-right: 38px;
  outline: none;
  color: #000;
  text-decoration: none;
}

.icon-with-links .icon {
  font-size: 20px;
  margin-right: 6px;
}

.icon-with-links .txt {
  font-size: 15px;
  padding-top: 1px;
}

.icon-with-links .right-icon {
  font-size: 15px;
  margin-left: 4px;
  margin-top: 4px;
}

.icon img {
  width: 22px;
}

.other-buttons {
  float: right;
  display: flex;
}

.notifify-icon ion-icon {
  font-size: 25px;
  margin-top: 28px;
  margin-right: 30px;
}

.log-sign-bt {
  float: right;
}

.notifify-icon {
  float: left;
  display: flex;
}

.log-sign-bt button {
  width: 135px;
  height: 37px;
  margin-top: 20px;
  font-size: 14px;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  margin-right: 40px;
  background-color: #137feb;
  cursor: pointer;
}

.search-navbar {
  height: 150px;
  width: 100%;
  background-color: #ffffff;
  /* margin-top: 110px; */
  padding-bottom: 10px;
}

.profile {
  margin-right: 2rem;
  margin-top: 24px;
}

.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.profile:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.profile .content {
  position: absolute;
  top: 5rem;
  right: -10px;
  margin: 1rem;
  background: #36454f;
  padding: 15px;
  width: 150px;
  border-radius: 5px;
  transition: all 0.4s;
  z-index: 20;
  transform: translateY(5px);
  opacity: 0;
}

.profile .content::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 20px;
  background-color: #36454f;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.profile .content li {
  font-size: 18px;
}
.profile .content li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.profile .content li a:active {
  color: black;
}

.txt-search-home {
  text-align: center;
  font-size: 25px;
  /* padding-top: 25px; */
  font-weight: 600;
}

.txt-search-home b {
  font-weight: 600;
  color: #005eff;
}

.center-searchbars {
  text-align: center;
  display: flex;
  margin-top: 15px;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
}

.center-searchbars input {
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-right: 14px;
  outline: none;
  color: #000000ba;
  border: 2px solid #00000054;
  border-radius: 4px;
}

.center-searchbars .location-search {
  width: 175px;
  padding-right: 45px;
  margin-right: 8px;
  padding-left: 40px;
  color: #000000ba;
}

.center-searchbars .location-search::placeholder {
  color: #000000ba;
}

.close-icon-loaction {
  position: absolute;
  color: #615d5d;
  font-size: 24px;
  border: none;
  margin-left: 219px;
  margin-top: 6.5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ed601400;
}

.close-icon-loaction:hover {
  background-color: #ed601425;
}

#close-icon-loactionada {
  display: none;
}

.searchbar-div .icon {
  position: absolute;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 8px;
  color: #000000a1;
}

.searchbar-div .item-searchbar {
  width: 334px;
  padding-left: 10px;
}

#close-icon-searchbar {
  display: none;
}

.itemsearch .item-searchbar {
  padding-right: 125px;
}

#icon-bt-seachbar {
  position: absolute;
  margin-left: 384px;
  margin-top: 6px;
  display: flex;
}

.searchbar-div .icon-button button {
  width: 37px;
  height: 37px;
  margin-right: 2px;
}

.search-button {
  color: #fff;
  font-size: 18px;
  margin-left: 4px;
  border: none;
  border-radius: 5px;
  background-color: #ed6014;
  cursor: pointer;
}

.search-button ion-icon {
  padding-top: 3px;
}

.mic-icon {
  color: #615d5d;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ed601400;
}

.mic-icon:hover {
  background-color: #ed601425;
}

.close-icon {
  color: #615d5d;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ed601400;
}

.close-icon:hover {
  background-color: #ed601425;
}

.aad {
  padding-top: 5px;
}

.container {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
img {
  width: 100%;
}



.main-categories {
  margin: auto; /* Adjust the top margin based on your needs */
  width: 80%;
  text-align: center; /* Center the content horizontally */
}

.category-card:hover + .category-card-box {
  background-color: #00000034;
}


.asdadisdifohsfhsidof {
  float: inline-start;
  height: 180px;
  width: 100%;
}

.second-advertising-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertise-div {
  width: 350px;
  height: 265px;
  margin-left: 8px;
  border-radius: 18px;
  margin-right: 8px;
  transition: 0.5s;
  background-color: #000;
  background-image: url("../img/second-ad-section/img1.jpg"); /* Replace 'your-image-url.jpg' with the actual URL or path to your image */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}

#advertise-div1 {
  width: 750px;

  /*     Replace 'your-image-url.jpg' with the actual URL or path to your image*/
}

/* .other-service-div {
  width: 80%;
  height: 235px;
  background-color: #ffffff;
  border-right: 2px solid #00000037;
  border-left: 2px solid #00000037;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top: 0px solid #00000037;
  border-top: 2px solid #00000037;
  border-bottom: 2px solid #00000037;
} */

/* .fstotsediv {
  border-bottom: 0px solid #00000037;
  border-top: 2px solid #00000037;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: px;
} */

.oth-ser-div-left {
  float: left;
  text-align: left;
  width: 385px;
  margin-left: 70px;
  margin-top: 30px;
}

.oth-ser-div-left h1 {
  font-weight: 500;
  font-size: 25px;
}

.oth-ser-div-left p {
  font-size: 15px;
}

.oth-ser-div-left a {
  color: #005eff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.oth-ser-div-lefta {
  float: left;
  text-align: left;
  margin-left: 70px;
  width: 385px;
  margin-top: 40px;
}

.oth-ser-div-lefta h1 {
  font-weight: 500;
  font-size: 25px;
}

.oth-ser-div-lefta p {
  font-size: 15px;
}

.oth-ser-div-lefta a {
  color: #005eff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.expr-link {
  position: relative;
  text-decoration: none;
  padding-bottom: 7px;
}

.expr-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  border-bottom: 4px solid #005eff;
  transition: width 0.5s;
}

.expr-link:hover::before {
  width: 100%;
}

.popular-brands {
  width: 90%;
  text-align: left;
  margin: 0 auto; /* This will center the element horizontally */
}

.pop-brand-title {
  font-size: 22px;
  font-weight: 600;
  margin-left: 13px;
}

.pop-brand-imgs {
  text-align: center;
  margin-top: 40px;
}

.pop-brand-imgs img {
  width: 30%;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 12px;
}

.our-social-platforms {
  width: 90%;
  text-align: left;
  margin: 0 auto;
}

.our-so-plfrt-left-txt {
  font-size: 18px;
  font-weight: 500;
  margin-top: 45px;
  padding-top: 8px;
  margin-left: 13px;
  margin-right: 15px;
}

.social-media-links {
  float: left;
  margin-left: 20px;
}

.social-media-links img {
  width: 35px;
}

.third-section {
  width: 89%;
  text-align: left;
  border-bottom: 2px solid #00000010;
  border-top: 2px solid #00000010;
  margin-left: auto;
  margin-right: auto;
}

.scl-md-links img {
  width: 25px;
}

.ad {
  margin-left: 10px;
}

.socail-links {
  display: flex;
  cursor: default;
  float: left;
  margin-top: 10px;
}

.scl-md-links {
  margin-right: 8px;
}

.adasdfdsftxt {
  font-weight: 600;
}

.third-section .right-side {
  float: right;
}

.right-side img {
  width: 150px;
}

.right-side a {
  margin-right: 10px;
}

.paragraph-section {
  width: 89%;
  background-color: #ffffff;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  border-bottom: 2px solid #00000010;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-section h1 {
  font-weight: 500;
  font-size: 22px;
}

.paragraph-section p {
  font-size: 14px;
  font-weight: 500;
  color: #000000a5;
}

.footer {
  width: 89%;
  background-color: #ffffff;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 360px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer h1 {
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 10px;
}

.link-menusd a {
  font-size: 14px;
  line-height: 35px;
  color: #000;
  text-decoration: none;
  position: relative;
  padding-bottom: 7px;
}

.link-menusd a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  border-bottom: 2px solid #000000a2;
  transition: width 0.5s;
}

.link-menusd a:hover::before {
  width: 100%;
}

.link-menuasdasdasdas {
  float: left;
  margin-right: 62px;
}

.link-menuasdasdasdasds {
  padding-left: 70px;
}

.asdttryas {
  font-size: 15px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #000000f4;
}

.cmp-copyright {
  padding-left: 10px;
}

.company-name-link {
  color: #f96824;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.company-name-link:hover {
  color: #f96824;
}

@media (max-width: 1544px) {
  .other-service-div {
    width: 85%;
  }
  .oth-ser-div-left {
    width: 315px;
    margin-left: 50px;
  }
  .oth-ser-div-lefta {
    float: left;
    text-align: left;
    margin-left: 50px;
    width: 315px;
  }
  .cmp-copyright {
    font-size: 13px;
  }
}
